// Importación de fuentes de Google
@use 'sass:string';

// Google Fonts - Se importa únicamente Poppins
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*
 * Las definiciones @font-face para la fuente local 'Mosk' han sido eliminadas
 * ya que no se utilizarán.
 */

// Variables de fuentes CSS :root - Todas configuradas a Poppins
:root {
  --font-inter: 'Poppins', sans-serif;
  --font-poppins: 'Poppins', sans-serif;
  --font-roboto: 'Poppins', sans-serif;
  --font-titillium: 'Poppins', sans-serif;
  --font-mosk: 'Poppins', sans-serif;
}

// Variables de SASS - Todas configuradas a Poppins
$font-principal: 'Poppins', sans-serif;
$font-secondary: 'Poppins', sans-serif;
$font-poppins: 'Poppins', sans-serif;
$font-roboto: 'Poppins', sans-serif;
$font-titillium: 'Poppins', sans-serif;
